.post {
  /* margin: 0 auto; */
  margin: 10px;
  width: 300px;
  height: 220px;
  background-color: #ccc;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post:hover {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transform: scale(1.05);
}

.post__thumbnail {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.post__content-area {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100%; */
}

.post__title {
  font-size: 1rem;
  font-weight: bold;
  /* position: relative; */
}

.post__date {
  text-align: end;
  font-size: 0.8rem;
  color: black;
}

.post__content {
  /* height: ; */
  /* border: 1px solid black; */
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8rem;
  text-overflow: ellipsis;
}
